<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}Корпоративная Доставка из Ресторанов, город Алматы{% endblock page_title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'helpers/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}

    {% endblock header %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-info" href="/">Pelegrin</a>
    <ul class="navbar-nav flex-row ml-auto">
        <li class="nav-item">
            {% block nav_item %}
            {% endblock %}
        </li>
        {% if request.user.is_superuser %}
            <li class="nav-item ml-3">
                <a class="nav-link btn btn-outline-primary px-2"
                   href="{% url 'helpers:view_orders' %}">
                    Заказы
                </a>
            </li>
        {% endif %}
        <li class="nav-item ml-3">
            <a class="nav-link btn btn-outline-primary px-2" href="/search/">Меню</a>
        </li>
        <li class="nav-item ml-3">
            <a class="nav-link btn btn-outline-primary px-2" href="/restaurants/">Заведения</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item ml-3">
                <a class="nav-link btn btn-outline-primary px-2"
                   href="{% url 'worker:logout' %}">
                    Выйти
                </a>
            </li>
        {% else %}
            <li class="nav-item ml-3">
                <a class="nav-link btn btn-outline-primary px-2"
                   href="{% url 'worker:login' %}">
                    Войти
                </a>
            </li>
        {% endif %}

    </ul>
</nav>
{% block body %}
{% endblock body %}

<div class="bg-light mt-5">
    <div class="container">
        <footer class="py-3">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">О нас</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Программа лояльности</a></li>
                <li class="nav-item"><a href="/faqs/" class="nav-link px-2 text-muted">FAQ</a></li>
            </ul>
            <p class="text-center text-muted">© 2021 Pelegrin Team, Almau</p>
        </footer>
    </div>
</div>
<script src="https://kit.fontawesome.com/caf91bc8ee.js" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock scripts %}


</body>
</html>
