{% extends "helpers/base.html" %}
{% load static %}

{% block body %}
<main>
    <div class="homepage" style="background-image: url({% static 'img/bg.jpg' %})">
        <div class="wrapper">
            <div class="wrapper-content">
                <div class="container h-100 text-white d-flex flex-column justify-content-center align-items-center">
                    <h1 class="display-4">Корпоративная Доставка</h1>
                    <p>Быстрая дешевая доставка для компаний в городе Алматы</p>
                    <a href="{% url 'helpers:search' %}" class="btn btn-info mt-4">Продолжить</a>
                </div>
            </div>
        </div>
    </div>

    <div class="text-white text-center">
        <div class="px-4 py-5 my-5">
            <img class="d-block mx-auto mb-4" src="{% static 'img/restaurants/little-bird.svg' %}" alt="" width="72"
                 height="57">
            <h1 class="display-5 fw-bold">Заказывай заранее завтрак, обед и ужин!</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Вы всегда переплачиваете за доставку? Устали ждать свою еду во время обеда?
                    Pelegrin - сервис доставки по предзаказу. Точно, качественно и выгодно! Оставляй заявку прямо
                    сейчас.
                </p>
            </div>
        </div>


        <div class="px-4 pt-5 my-5 ">
            <h1 class="display-5 fw-bold">Как присоединиться к нам? </h1>
        </div>

        <div class="container marketing text-center">
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'img/restaurants/1.png' %}"
                         alt="Generic placeholder image"
                         width="160" height="160">
                    <h2>Стать партнером</h2>
                    <p>Pelegrin поможет привлечь новых клиентов, увеличить продажи и открыть для новые каналы
                        клиентов!.</p>
                    <p>
                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#exampleModal">
                            Присоединиться »
                        </a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'img/restaurants/2.png' %}"
                         alt="Generic placeholder image"
                         width="160" height="160">
                    <h2>Стать курьером</h2>
                    <p>Уделите всего от до 4 часов в день! Удобный график, своевременная и достойная оплата.</p>
                    <p>
                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#exampleModal">
                            Присоединиться »
                        </a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'img/restaurants/3.png' %}"
                         alt="Generic placeholder image"
                         width="160" height="160">
                    <h2>Прикрепить отдел</h2>
                    <p>Выгодные цены на доставку и специальная программа лояльности для ваших отделов.</p>
                    <p>
                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#exampleModal">
                            Присоединиться »
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Заявка</h5>
                </div>
                <div class="modal-body">
                    <div class="p-3">
                        <form class="form text-center" action="form/" method="post">
                            {% csrf_token %}
                            <select class="form-control" name="role" id="">
                                <option value="restaurant">Партнерство</option>
                                <option value="worker">Курьер</option>
                                <option value="company">Компания</option>
                            </select>
                            <div class="my-2">
                                <input class="form-control" type="text" name="name" placeholder="Ваше имя" required>
                            </div>
                            <div class="my-2">
                                <input class="form-control" type="text" name="contact"
                                       placeholder="Укажите способ связи" required>
                            </div>
                            <div class="my-2">
                                <textarea class="form-control" name="description" rows="4"
                                          placeholder="Хотели бы вы что-то рассказать о себе" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-info">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% endblock %}


