{% extends "helpers/base.html" %}
{% load static %}

{% block body %}
<main>
    <div class="homepage" style="background-image: url({% static 'img/bg.jpg' %})">
        <div class="wrapper">
            <div class="wrapper-content">
                <div class="container h-100 text-white d-flex flex-column justify-content-center align-items-center">
                    <h1 class="display-4">Корпоративная Доставка</h1>
                    <p>Быстрая дешевая доставка для компаний в городе Алматы</p>
                    <a href="{% url 'helpers:search' %}" class="btn btn-info mt-4">Продолжить</a>
                </div>
            </div>
        </div>
    </div>

    <div class="text-white">
        <div class="px-4 pt-5 my-5 text-center ">
            <h1 class="display-5 fw-bold">Как присоединиться к нам? </h1>
        </div>

        <div class="container marketing text-center">
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'img/restaurants/1.png' %}"
                         alt="Generic placeholder image"
                         width="160" height="160">
                    <h2>Стать партнером</h2>
                    <p>Pelegrin поможет привлечь новых клиентов, увеличить продажи и открыть для новые каналы
                        клиентов!.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Присоединиться »</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'img/restaurants/2.png' %}"
                         alt="Generic placeholder image"
                         width="160" height="160">
                    <h2>Стать курьером</h2>
                    <p>Уделите всего от до 4 часов в день! Удобный график, своевременная и достойная оплата.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Присоединиться »</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'img/restaurants/3.png' %}"
                         alt="Generic placeholder image"
                         width="160" height="160">
                    <h2>Прикрепить отдел</h2>
                    <p>Выгодные цены на доставку и специальная программа лояльности для ваших отделов.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Присоединиться »</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

