{% extends "helpers/base.html" %}
{% load static %}

{% block body %}
<main>
    <div class="homepage" style="background-image: url({% static 'img/bg.jpg' %})">
        <div class="wrapper">
            <div class="wrapper-content">
                <div class="container h-100 text-white d-flex flex-column justify-content-center align-items-center">
                    <h1 class="display-4">Корпоративная Доставка</h1>
                    <p>Быстрая дешевая доставка для компаний в городе Алматы</p>
                    <a href="{% url 'helpers:search' %}" class="btn btn-info mt-4">Продолжить</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

